<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get fatigue strength</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/assets/css/ball_bearing.css"></link>
    </head>
    <body>
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Design Problem</h3>
                        <h3>Assume Kb</h3>
                        <p>Fill in the data below</p>
                        <form  action="#" method="post" class="requires-validation" novalidate>
                            <!-- <div class="col-md-12">
                                <select name="type_of_loading" class="form-select mt-3" required>
                                      <option selected disabled value="">Type of loading</option>
                                      <option value="CRSL">completely reversing simple loading</option>
                                      <option value="FSL">fluctuating simple loading</option>
                                      <option value="CLM">combination of loading modes</option>
                               </select>
                                <div class="valid-feedback">You selected a position!</div>
                                <div class="invalid-feedback">Please select a position!</div>
                           </div> -->
                           <div class="col-md-12">
                            <input class="form-control" type="number" name="Sut" placeholder="Sut (Mpa)" required>
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" type="number" name="Sy" placeholder="Sy (Mpa)" required>
                                 <div class="valid-feedback">Email field is valid!</div>
                                 <div class="invalid-feedback">Email field cannot be blank!</div>
                                </div>
                            <div class="col-md-12">
                                <select name ="surface_finish" class="form-select mt-3" required>
                                      <option selected disabled value="">desired surface finish</option>
                                      <option value="G">ground</option>
                                      <option value="M">machined</option>
                                      <option value="COLD">cold-drawn</option>
                                      <option value="HR">hot-rolled</option>
                                      <option value="AS">as-forged</option>
                               </select>
                                <div class="valid-feedback">You selected a position!</div>
                                <div class="invalid-feedback">Please select a position!</div>
                           </div>
                           <div class="col-md-12">
                            <select name="loading_option_1" class="form-select mt-3" required>
                                  <option selected disabled value="">Loading Option</option>
                                  <option value="bending">bending</option>
                                  <option value="torsion">torsion</option>
                                  <option value="axial">axial</option>
                           </select>
                            <div class="valid-feedback">You selected a position!</div>
                            <div class="invalid-feedback">Please select a position!</div>
                           </div>

                           <div class="col-md-12">
                            <input class="form-control" type="number" name="Kb" placeholder="assumed Kb" >
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div>
                           <div class="col-md-12">
                            <input class="form-control" type="number" name="desired_reliability" placeholder="Desired Reliability" >
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div>
                           <!-- <div class="col-md-12">
                            <select name="rotating/non-rotating"class="form-select mt-3" required>
                                  <option selected disabled value="">Rotating Shaft / Non Rotating Member</option>
                                  <option value="rotating">Rotating Shaft</option>
                                  <option value="non-rotating">Non Rotating Member</option>
                           </select>
                            <div class="valid-feedback">You selected a position!</div>
                            <div class="invalid-feedback">Please select a position!</div>
                           </div> -->
                           <div class="col-md-12">
                            <input class="form-control" type="number" name="rod" placeholder="Rod Length (m)">
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div>
                           <div class="col-md-12">
                           <input class="form-control" type="number" name="load" placeholder="load KN">
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div>
                           <div class="col-md-12">
                            <input class="form-control" type="number" name="N" placeholder="Number of Cycles">
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div>
                           <!-- <div class="col-md-12">
                            <select name="kb_d"class="form-select mt-3" >
                                  <option >Assumption of Kb or dia</option>
                                  <option  value="Kb">Kb</option>
                                  <option  value="d">diameter</option>
                            </select>
                            <div class="valid-feedback">You selected a position!</div>
                            <div class="invalid-feedback">Please select a position!</div>
                           </div>
                           <div class="col-md-12">
                            <input class="form-control" type="number" name="assumed_kb" placeholder="Assume Kb">
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div>
                           <div class="col-md-12">
                            <input class="form-control" type="number" name="sigma_max" placeholder="maximum stress (MPa) (ONLY if you assumed kb)">
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div>
                           <div class="col-md-12">
                            <input class="form-control" type="number" name="N_assume_kb_case" placeholder="number of cycles to failure (ONLY if you assumed kb)">
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div>
                           <div class="col-md-12">
                            <input class="form-control" type="number" name="h_assume_kb_case" placeholder="h mm (ONLY if you assumed kb)">
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div>
                           <div class="col-md-12">
                            <input class="form-control" type="number" name="b_assume_kb_case" placeholder="b mm (ONLY if you assumed kb)">
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div>
                           <div class="col-md-12">
                            <input class="form-control" type="number" name="assumed_dia" placeholder="Assume dia(mm)">
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div> -->
                           
                           <!-- <div class="col-md-12">
                            <input class="form-control" type="number" name="af" placeholder="height for Non-rotating member only" required>
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div>
                           <div class="col-md-12">
                            <input class="form-control" type="number" name="af" placeholder="width for Non-rotating number only" required>
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div> -->
                           <!-- <div class="col-md-12">
                            <select name = "loading_option_2"class="form-select mt-3" required>
                                  <option selected disabled value="">Loading Option</option>
                                  <option value="bending">bending</option>
                                  <option value="torsion">torsion</option>
                                  <option value="axial">axial</option>
                           </select>
                            <div class="valid-feedback">You selected a position!</div>
                            <div class="invalid-feedback">Please select a position!</div>
                           </div> -->
                           <div class="col-md-12">
                            <input class="form-control" type="number" name="design_factor" placeholder="Design Factor" required>
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div>
                           <!-- <div class="col-md-12">
                            <select name = "known_unknown"class="form-select mt-3" required>
                                  <option selected disabled value="">Do you know N </option>
                                  <option value="known">Yes</option>
                                  <option value="unknown">No</option>
                           </select>
                            <div class="valid-feedback">You selected a position!</div>
                            <div class="invalid-feedback">Please select a position!</div>
                           </div> -->
                           <!-- <div class="col-md-12">
                            <input class="form-control" type="number" name="Number_of_cycles" placeholder="Number of Cycles to failure / 0 if not known" required>
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                           </div> -->
                           
                           

                         
                            <!-- <div class="col-md-12">
                                <select class="form-select mt-3" required>
                                      <option selected disabled value="">Inner Ring Rotating / Outer Ring Rotating</option>
                                      <option value="jweb">Inner</option>
                                      <option value="sweb">Outer</option>
                               </select>
                                <div class="valid-feedback">You selected a position!</div>
                                <div class="invalid-feedback">Please select a position!</div>
                           </div> -->
                            <!-- <div class="col-md-12 a">
                                <input class="form-control" type="text" name="name" placeholder="Ball/Taper/Cylindrical" required>
                                <div class="valid-feedback">Username field is valid!</div>
                                <div class="invalid-feedback">Username field cannot be blank!</div>
                             </div>  -->
                           
                            <!-- <div class="col-md-12">
                                <input class="form-control" type="email" name="email" placeholder="Desired Reliability" required>
                                 <div class="valid-feedback">Email field is valid!</div>
                                 <div class="invalid-feedback">Email field cannot be blank!</div>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" type="email" name="email" placeholder="Desired Reliability" required>
                                 <div class="valid-feedback">Email field is valid!</div>
                                 <div class="invalid-feedback">Email field cannot be blank!</div>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" type="email" name="email" placeholder="Desired Reliability" required>
                                 <div class="valid-feedback">Email field is valid!</div>
                                 <div class="invalid-feedback">Email field cannot be blank!</div>
                            </div> -->


                           <!-- <div class="col-md-12">
                              <input class="form-control" type="password" name="password" placeholder="Password" required>
                               <div class="valid-feedback">Password field is valid!</div>
                               <div class="invalid-feedback">Password field cannot be blank!</div>
                           </div>

                           <div class="col-md-12">
                            <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                            </div>
                            <div class="col-md-12">
                            <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                            </div> -->


                           <!-- <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" for="gender">Gender: </label>

                            <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>

                            <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="female">Female</label> -->

                            <!-- <input type="radio" class="btn-check" name="gender" id="secret" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="secret">Secret</label>
                               <div class="valid-feedback mv-up">You selected a gender!</div>
                                <div class="invalid-feedback mv-up">Please select a gender!</div>
                            </div> -->

                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                          <label class="form-check-label">I confirm that all data are correct</label>
                         <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                        </div> 
                  

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Enter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>